<div class="track">

    <h1 id="featuredTrackHeader"
        style="
            position: absolute;
            margin-left: 3vw;
            margin-top: 2vw;
            font-family: 'Trebuchet MS', 'sans-serif';
    ">
        Featured Track:
    </h1>

    <iframe height="100vw" scrolling="no" frameborder="no" allow="autoplay" width="50%"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= trackNumID %>&
            color=%23ff5500&
            auto_play=false&
            hide_related=false&
            show_comments=true&
            show_user=true&
            show_reposts=false&
            show_teaser=true"
            style="position: relative;"
    >
    </iframe>
<!--    <div class="trackCaption">-->
<!--        <a href="https://soundcloud.com/spencer-stepanek" title="Spencer Stepanek" target="_blank" class="trackArtist">-->
<!--            Spencer Stepanek-->
<!--        </a> · <%= trackNumID %> ·-->
<!--        <a href="https://soundcloud.com/spencer-stepanek/<%= trackUrlID %>" title="<%= trackName %>>" target="_blank" class="trackName">-->
<!--            <%= trackName %>-->
<!--        </a>-->
<!--    </div>-->
</div>